{% load static %}
<html>
<head>
    <title>Vacancy list</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/parse.css' %}">
</head>
<body>
<a href=""> День, в который мы рекомендуем вам идти на собеседование: {{ best_day }}</a>
<br>
<a href=""> Погода в остальные дни : {{ other_days }}</a>
</body>
</html>
